/*Обнуление*/
*,*:before,*:after{
	padding: 0;
	margin: 0;
	border: 0;
	box-sizing: border-box;
	border-image-width: 0;
}

ul, li {
	padding: 0;
	margin: 0;
	border: 0;
	list-style: none;
}

html, body {
	height: 100%;
	background-color: #fff;
	font-family: 'Gilroy', Arial, sans-serif;
	font-weight: normal;
	font-style: normal;
}

a {
	text-decoration: none;
	white-space: nowrap;
}

h2 {
	font-size: 44px;
	font-weight: 700;
	line-height: 52px;
	text-align: center;
	margin-bottom: 32px;
}

@media screen and (max-width: 768px) {
	h2 {
		font-size: 34px;
		line-height: 38px;
		margin-bottom: 24px;
	}
}

@media screen and (max-width: 576px) {
	h2 {
		text-align: left;
		font-size: 24px;
		line-height: 32px;
		margin-bottom: 12px;
	}
}

.container {
	overflow: hidden;
	border: 1px solid red;	
}

@media screen and (max-width: 540px) {
	.container {
		padding: 0 16px;
	}
}

.btn.btn-crimson {
	padding: 12px 16px;
	border-radius: 16px;
	background: #9D097C;
	color: #FFF;
	font-size: 16px;
	font-weight: 600;
}



.btn.btn-crimson:hover {
	background: #CD1BA5;
}

@media screen and (max-width: 960px) { 
	.btn.btn-crimson {
		width: calc(100% - 48px);
	}
}


.navbar {
	background-color: #fff;
	opacity: 0.95;
}
.navbar.navbar-expand-lg {
	margin: 0;
	padding: 24px 0;
}

.navbar-brand {
	width: 125px;
	height: 40px
}

.header .navbar-toggler {
	border: none;
	border-radius: 0;

}

.header .navbar-toggler:focus {
	border: none;
	border-radius: 0;
	box-shadow: none;
}

.header .navbar-toggler-icon {
	background-image: url(../img/icons/burger.svg);
	width: 16px;
	height: 14px;
}

.header .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon {
	background-image: url(../img/icons/close.svg);
	width: 12px;
	height: 12px;
	padding: 0 2px;
}


.dropdown.dropdown-language .btn{	
	padding: 8px 12px;		
	border-radius: 12px;
	border-color: transparent;
	background: #F6EEE8;
	color: #32334C;	
}

.dropdown.dropdown-language {
	box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.12);
	background-color: #F7EEE8;
	border-radius: 12px;
}

.dropdown.dropdown-language .btn.show {
	color: #32334C;	
	border-color: transparent;	
}

.dropdown-menu {
	border-radius: 12px;
	z-index: 100;
}

.dropdown-item {
	background-color: #F7EEE8;
	padding: 8px 12px;
	color: #32334C;	
}

.dropdown-menu.show {
	border: none;
	margin: 0;
	padding: 0;
}

.dropdown-menu.show {
	padding: 24px 32px;
	border-radius: 24px;
	background: #fff;
	box-shadow: 0px 4px 24px 0px rgba(29, 47, 91, 0.14);
}

@media screen and (max-width: 992px) {
	.dropdown-menu.show {
		padding: 20px 0 40px;
		border-radius: 0;
		background: none;
		box-shadow: none;
	}
}


.header-menu .dropdown-menu li {
	padding: 0 0 16px 0;
}

.header-menu .dropdown-menu li:last-child {	
	padding-bottom: 0;	
}

.header-menu .dropdown-menu li:first-child {
	color: #676971;
	font-size: 12px;
	font-weight: 400;
	line-height: 18px;
	padding-bottom: 12px;
}

@media screen and (max-width: 992px) {
	.header-menu .dropdown-menu.show li:first-child {
		display: none;
	}
}

.header-menu .dropdown-item {
	display: inline-block;
	background-color: #fff;
	padding: 0;
	color: #1C1C1E;
	font-size: 16px;
	font-weight: 600;
	line-height: 22.4px;
}

.header-menu .dropdown-item::after {
	content: url(../img/icons/chevron-right.svg);
	display: inline-block;
	width: 20px;
	height: 20px; 
}

.header .nav-link {
	color: #32334C;		
	font-size: 16px;	
	font-weight: 600;
	padding: 0  20px;
}

@media screen and (max-width: 992px) {
	.header .nav-link {
			font-size: 20px;
			padding: 0;
			margin-bottom: 40px;
	}
	.header .navbar-collapse.collapse.show {
		height: calc(100vh - 42px);
	}
}

.nav-link:focus,
.nav-link:hover {
	color: #9D097C;		
}

.nav-link.kmf-isker-hanymy {
	padding: 12px 16px;
	border-radius: 16px;
	background: #9D097C;
	color: #fff;
}

.nav-link.kmf-demey-img img{
	width: 49.76px;
	height: 52px;
}


.navbar-nav {
	align-items: center;
}

/* Main slider */

.main-slider {
	margin-top: 100px;
	position: relative;
}

.main-slider__dots {
	position: absolute;
	left: calc( (397 * 100%) / 1920);
	bottom: 32px;
	text-align: center;
	display: flex; 
	justify-content: center; 
	list-style: none; 
}

.main-slider__dots button {
	background: transparent;
	background-image: url("../img/icons/dot.svg");
	border: none; 
	border-radius: 100%; 
	height: 4px; 
	width: 4px; 
	margin: 5px; 
	outline: none; 
	font-size: 0;
}

.main-slider__dots li[class="slick-active"] button {
	background-image: url("../img/icons/dot_active.svg");
	height: 24px;
	width: 24px;
}

.main-slider .slick-dotted.slick-slider {
	margin-bottom: 0;
}


.main-slider .slick-arrow {
	position: absolute;
	top: 50%; 
	margin: -15px 0 0 0; 
	z-index: 2; 
	font-size: 0; 
	width: 30px; 
	height: 30px; 
}

.main-slider__item-container {
	padding-left:200px;
}

.main-slider__item-info h1 {
	color: #32334C;
	font-size: 64px;
	font-weight: 600;
	line-height: 80px;
}

.main-slider__item-info p {
	color: #32334C;
	font-size: 24px;
	font-weight: 400;
	line-height: 32px;
}

/* Section "Friends" */

.friends {
	margin-top: 144px;
	margin-bottom: 234px;
}

@media screen and (max-width: 1200px) {
	.friends {
		margin-top: 120px;
		margin-bottom: 120px;
	}
}

.friends__text {
	max-width: 896px;
	margin-bottom: 42px;
	text-align: center;
	font-family: Gilroy;
	font-size: 32px;	
	font-weight: 500;
	line-height: 48px;
	background: linear-gradient(259deg, #2D1178 25.04%, #DB2D8F 77.78%);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

@media screen and (max-width: 960px) {
	.friends__text {
		font-size: 24px;
		font-weight: 500;
		line-height: 32px;
	}
}

.btn.btn-transparent {
	width: 240px;
	height: 80px;
	padding: 12px 16px;
	border-radius: 32px;
	border: 1px solid #9D097C;
	color: #9D097C;
	font-size: 16px;
	font-weight: 600;
}

.btn.btn-transparent:hover {
	background-color: #9D097C;
	color: #fff;
}

/* Section "Success-stories" */
.blue-section {
	border-radius: 40px;
	background: #C6D9DD;
	overflow: hidden;
}

/* @media screen and (max-width: 960px) {
	.blue-section {
		padding: 16px 0;
	}
} */


.success-stories {
	padding-top: 87px;
	padding-bottom: 87px;
}

@media screen and (max-width: 576px) {
	.success-stories {
		padding: 16px 0;
	}
}

@media screen and (max-width: 576px) {
	.success-stories .container{
		padding: 0;
	}
}

.success-stories__container {
	grid-template-columns: 42% 58%;
	grid-template-rows: 204px auto;
}

.success-stories__header {
	grid-column: 1;
	grid-row: 1;
	padding-bottom: 32px;
}

@media screen and (max-width: 576px) {
	.success-stories__header {
		padding: 0 16px;
	}
}

.success-stories__header h2 {
	color: #32334C;
	text-align: left;
}

@media screen and (max-width: 576px) {
	.success-stories__header h2 {
		padding-bottom: 16px;
	}
}

@media screen and (max-width: 1200px) {
	.success-stories__header h2 {
		font-size: 40px;
		line-height: 42px;
	}
}

@media screen and (max-width: 960px) {
	.success-stories__header h2 {
		font-size: 32px;
		line-height: 42px;
	}
}

.success-stories__header h5 {
	font-size: 20px;
	font-weight: 500;
	background: linear-gradient(259deg, #2D1178 25.04%, #DB2D8F 77.78%);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	/* padding-bottom: 24px; */
}


.success-stories__img {
	grid-column: 2;
	grid-row: 1 / 3;
	/* border: 1px solid blue; */
	padding-left: 24px;
}

@media screen and (max-width: 576px) {
	.success-stories__img {
		padding-bottom: 24px;
	}
}

@media screen and (max-width: 960px) {
	.success-stories__img {
		padding-left: 0;
	}
}


.success-stories__img img {	
	width: 100%;
	height: 100%;
	object-fit: contain;
}

.success-stories__info {
	grid-column: 1;
	grid-row: 2;
}

@media screen and (max-width: 576px) {
	.success-stories__info {
		padding: 0 16px;
	}
}

.success-stories__info p {
	color: #32334C;
	font-size: 16px;
	font-weight: 400;
	line-height: 22px;
}

@media screen and (max-width: 960px) {
	.success-stories__info .btn.btn-crimson {
		width: 100%;
	}
}

@media screen and (max-width: 960px) {

	.success-stories__header,
	.success-stories__img,
	.success-stories__info {
		width: 100%;
	}
}

/* Section "Business" */

.business {
	margin-top: 220px;
	margin-bottom: 200px;
}

.business h2 {
	background: linear-gradient(259deg, #2D1178 25.04%, #DB2D8F 77.78%);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.business__slider {
	margin: 0 -12px;
	border: 1px solid green;
	position: relative;
}

.business__slider .slick-dots {
	position: absolute;
	
	bottom: 0;
	display: block;
	width: 100%;
	padding: 8px 0;
	margin: 0;
	list-style: none;
	text-align: center;
	border: 1px solid green;

}

.slick-arrow {
	position: absolute;
	
	top: 100%;
	z-index: 100; 
	font-size: 0; 
	width: 40px; 
	height: 40px; 
	border-radius: 100%;
	background: #FFF0F5;
	

}

.slick-arrow:before {
	content: "";
	background: url('../img/icons/arr_left.svg') 0 0 / 100% no-repeat;
}


 .slick-arrow.slick-prev {
	left: 30%;
 }

 .slick-arrow.slick-prev::after {
	
	
 	background: url('../img/icons/arr_left.svg') 0 0 / 100% no-repeat;
 }

 .slick-arrow.slick-next {
	right: 30%;
 }

.slick-arrow.slick-next::after {
	position: absolute;
		left: 0;
		right: 0;
 	background: url('../img/icons/arr_right.svg') 0 0 / 100% no-repeat;
 }


/* .main-slider__dots {
	position: absolute;
	left: calc((397 * 100%) / 1920);
	bottom: 32px;
	text-align: center;
	display: flex;
	justify-content: center;
	list-style: none;
} */

.business__slider .slick-dots button {
	background: transparent;
	background-image: url("../img/icons/dot.svg");
	background-repeat: no-repeat;
	background-size: 100%;
	border: none;
	margin: 10px;
	padding: 0;
	height: 4px;
	width: 4px;	
	outline: none;
	font-size: 0;
}

.business__slider .slick-dots button:before {
	display: none;
}

.business__slider .slick-dots .slick-active button {
	background-image: url("../img/icons/dot_active.svg");
	height: 24px;
	width: 24px;
	margin: 0;
	padding: 0;
			
}

.main-slider__dots li[class="slick-active"] button {
	background-image: url("../img/icons/dot_active.svg");
	height: 24px;
	width: 24px;
}

.main-slider .slick-dotted.slick-slider {
	margin-bottom: 0;
}















.business__slider-item {
	height: 590px;
	margin: 0 12px;	
	overflow: hidden;
}

.business__slider-item-img {
	position: relative;
	overflow: hidden;
	height: 398px;
	border-radius: 24px;
}

.business__slider-item-img img{
	width: 100%;
	height: 100%;
	object-fit: cover;
}

@media screen and (max-width: 1200px) {
	.business__slider-item-img {
		height: 360px;
	}
}

@media screen and (max-width: 576px) {
	.business__slider-item-img {			
			height: 260px;
		}
}

.business__slider-item-hover {
	z-index: 10;
	top: 50%;
	left: 50%;
	border-radius: 100%;
	position: absolute;	
	background-color: #FA9397;
	transition: all 0.75s ease-in-out;
	opacity: 0;
	transform: translate(-50%, -50%);	
	
}

.business__slider-item-img:hover .business__slider-item-hover {
	width: 422px;
	height: 422px;
	opacity: 1;
}

.business__slider-item-hover-text {
	color: #000;
	text-align: center;
	font-size: 16px;
	font-weight: 600;
	opacity: 1;
	z-index: 10000;
}

.business__slider-item-img:hover .business__slider-item-hover-text {	
	opacity: 1;
}

.business__slider-item h3{
	margin-top: 16px;
	color: #32334C;
	font-size: 24px;
	font-weight: 700;
	line-height: 32px;
	height: 64px;
	overflow: hidden;
}
.business__slider-item-city {
	display: block;
	color:  #32334C;
	font-size: 16px;
	font-weight: 400;
	line-height: 22px;
	margin: 12px 0;
}

.business__slider-item {
	color: #32334C;
	font-size: 16px;
	font-weight: 600;
	line-height: 22px;
}
/* Section "Education" */

.education{
	margin-bottom: 220px;
}

@media screen and (max-width: 1200px) {
	.education {
		margin-bottom: 80px;
	}
}

.education h2 {
	background: linear-gradient(259deg, #2D1178 25.04%, #DB2D8F 77.78%);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
} 

.education__slider {
	margin: 0 -12px;
}

@media screen and (max-width: 960px) {
	.education__slider {
		margin: 0 -8px;
	}
}

.education__slider-item {
	height: 260px;
	margin: 0 16px 24px;
	padding: 32px;
	border-radius: 24px;
	background: #FFF;
	box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.12);
	position: relative;
}


@media screen and (max-width: 960px) {
	.education__slider-item {
		height: 270px;
		margin: 12px 8px;
		padding: 24px;
	}	
}

.education__slider-item h4 {
	font-size: 20px;
	font-weight: 700;
	line-height: 28px;
	background: linear-gradient(259deg, #2D1178 25.04%, #DB2D8F 77.78%);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	margin-bottom: 8px;
}

@media screen and (max-width: 960px) {
	.education__slider-item h4 {
		font-size: 16px;
		font-weight: 700;
		line-height: 22px;
	}
}

.education__slider-item p {
	color: #32334C;
	font-size: 14px;
	font-weight: 400;
	line-height: 20px;

}

.education__slider-item button {
	position: absolute;
	left: 32px;
	bottom: 32px;
}

@media screen and (max-width: 960px) {
	.education__slider-item button {
		left: 24px;
		bottom: 24px;
	}
}

/* Section "News" */
.news {
	margin-bottom: 143px;
}

.news h2 {
	background: linear-gradient(259deg, #2D1178 25.04%, #DB2D8F 77.78%);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;	
} 

.news__slider {
	margin: 0 -12px;
}


.news__slider-item {
	position: relative;
	margin: 0 12px;
	overflow: hidden;
	border-radius: 24px;
}

.news__slider-item-hover {
	z-index: 10;
	width: 116%;
	height: 116%;
	border-radius: 50% 50% 0 0;
	position: absolute;
	top: 12px;
	left: -8%;
	background-color: #FA9397;
	transition: all 0.75s ease-in-out;
	transform: translate(0, 116%);
}

.news__slider-item:hover .news__slider-item-hover {	
	transform: translate(0, 0);
}

.news__slider-item h4 {
	color: #FFF;
	font-size: 20px;
	font-weight: 700;
	line-height: 28px;
	position: absolute;
	left: 16px;
	bottom: 16px;
	z-index: 20;
	position: absolute;
}

.news__slider-item img {
	width: 100%;
	display: block;
}

/* Footer styles */

.footer-menu {
	background-color: #C6D9DD;
	padding-top: 43px;
	padding-bottom: 63px;
}

@media screen and (max-width: 768px) {
	.footer-menu {
			
			padding-top: 25px;
			padding-bottom: 89px;
		}
}

.footer-menu__left-bar {
	margin-bottom: 33px;
}

@media screen and (max-width: 960px) {
	.footer-menu__left-bar {
		margin-bottom: 21px;
	}
}

.footer-menu__logo-bar {
	margin-bottom: 42px;
}

@media screen and (max-width: 960px) {
	.footer-menu__logo-bar {
		margin-bottom: 0;
	}
}

.footer-menu__logo-bar a {
	margin-right: 27px;
}

.footer-menu__logo-bar .footer-logo-1 img {
	width: 104.823px;
	height: 64px;
}

.footer-menu__logo-bar .footer-logo-2 img {
	width: 49.76px;
	height: 52px;
}

.footer-menu__social-media a img {
	margin-right: 8px;
}

.footer-menu__social-media a img{
	width: 20px;
	height: 20px;
}

.footer-menu__list-header {
	color: #32334C;
	font-family: 'Inter', sans-serif;
	font-size: 16px;
	font-weight: 700;
}

.footer-menu__list a{
	color: #32334C;
	font-family: 'Inter', sans-serif;
	font-size: 14px;
	font-weight: normal;	
	
}

.footer-menu__list a:hover {
	color: #9D097C;	
}

